body {
  font-family: "Bembo W01";
  font-size: 1.3em;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";

  width: 600px;
  margin-left:auto;
  margin-right:auto;
  padding: 0 10px 0 10px;
  color: #555;
  text-align:justify;

}

code {
  font-family: "inconsolata";
  font-size: 0.85em;
  background-color: #eee;
  padding: 1px 3px;
}

a {
  color:#FF5D63;
  text-decoration: none;
}

a:visited {
  color:#FF5D63;
}

a:hover {
  text-decoration:none;
  border:none;
}

h1 {
  font-size:2.5em;
  font-weight:normal;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-top:15px;
  margin-bottom:-5px;
}

h2 {
  font-size: 1.7em;
  line-height: 34px;
  font-weight:normal;
  margin: 0 0 0.38em -1.5px;
  padding: 0;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  font-weight:normal;
  margin-top:12px;
  margin-bottom:12px;
  text-align: center;
}

h4 {
  font-size: 1.2em;
  font-weight:normal;
  margin-top:16px;
  margin-bottom:16px;
}

p {
  margin:0 0 0.4em 0;
}

hr {
  color: #aaa;
  background-color:#aaa;
  height:1px;
  border:0;
  margin: 1em 0;
}

.time-place {
  text-align: center;
}

.mini-photos {
  height: 193px;
  padding: 0.1em 0 0 0;
}

.mini-photos img {
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  width: 188px;
}

pre .output {
  color: #777;
}

pre .prompt {
  color: #00f;
}

ul {
  padding-left: 25px;
}

li {
  padding: 2px 0;
}

.tagline {
  text-align: center;
  width: 100%;
  margin: 0.3em 0;
}

.menu {
  padding-bottom: 0;
  border-bottom: 1px solid #aaa;
  padding-bottom: 0.4em;
  margin-bottom: 1em;
  text-align: center;
}

.footer {
  text-align: center;
  width:310px;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  margin-left:auto;
  margin-right:auto;
  height: 70px;
}

.contact {
  width: 300px;
  float: left;
}

.contact2 {
  text-align: right;
}

@media handheld, only screen and (max-width: 767px) {
  body {
    width: 350px;
  }

  h1 {
    font-size: 2em;
  }

  .mini-photos {
    height: 1050px;
    padding: 7px 0;
  }

  .mini-photos img {
    width: 350px;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .contacts {
    margin-left:auto;
    margin-right:auto;
    height: auto;
  }

  .contact {
    width: 300px;
    float: none;
  }

  .contact1 {
    margin-bottom: 0.4em;
  }

  .contact2 {
    text-align: left;
  }
}
